@media only screen and (min-width: 350px) {
  .cartlist {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 90%;
    height: 100vh;
    z-index: -1;
  }

  .cartSVG{
    position: inherit;
    z-index: 4;
  }

  .shoppingCart {
    padding: 3%;
  }

  .buttonTest {
    margin: 3%;
    padding: 3% 0;
    color: white;
    column-gap: 2%;
    letter-spacing: 1px;
    word-spacing: 1px;
    height: 50px;
    display: flex;
    place-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 1440px) {
  .cartlist {
    background-color: white;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 40%;
    height: 100vh;
  }



  .buttonTest {
    margin: 3%;
    padding: 3% 0;
    column-gap: 2%;
    letter-spacing: 1px;
    word-spacing: 1px;
    height: 5%;
    justify-content: center;
  }
}
