/* Font Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
}

p,
a {
  font-family: "Roboto", sans-serif;
}

/* Hover Effect */
.h3-hover:hover {
  text-decoration: underline;
  color: #e6b85c;
}

/* List Styles */
ul {
  list-style-type: none;
}

:root{
  background-color: #f5f5f7;
}

/* App Container */
.App {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #f5f5f7;
}

/* Scrollbar Styles */
.App::-webkit-scrollbar {
  display: none;
}

/* Miscellaneous Styles */
.test2 {
  display: flex;
  align-items: flex-end;
}

body {
  margin: 0;
  padding: 0;
}

.spanTest {
  background-image: url("plistlogo.png");
  width: 100px;
  height: 100px;
  /* background-size: cover;
  background-repeat: no-repeat; */
}

::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide horizontal scrollbar */
::-webkit-scrollbar-horizontal {
  height: 0.5em; /* Adjust the height as needed */
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Media Queries */
@media only screen and (min-width: 350px) {
  /* Add specific styles for screens wider than 350px here */

.cart-item-copy{
  display: flex;
  justify-content: space-between;
}
  .cart-item-trash{
    width: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  /* Add specific styles for screens wider than 1440px here */
}
